/* Header.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body, html {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    animation: slideDown 0.5s ease;
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  .logo {
    display: contents;
  }
  .logo-img{
    background: blue;
    img{
      height: 3rem;
    }
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .nav-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .nav-link:hover {
    color: rgb(7, 146, 239);
    transform: scale(1.1);
  }
  
  .whatsapp-button {
    width: 40px;
    height: 40px;
  }
  
  .whatsapp-button img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }
  
  .whatsapp-button img:hover {
    transform: scale(1.1);
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
      gap: 10px;
    }
  
    .header {
      flex-direction: column;
    }
  
    .whatsapp-button {
      margin-top: 10px;
    }
  }
  